/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

/*@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_light/stylesheet.css');
@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_bold/stylesheet.css');
@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_semibold/stylesheet.css');
@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_regular/stylesheet.css');*/
@import url('fonts/MyriadSetPro-Bold-fontfacekit/web-fonts/MyriadSetPro-Bold/stylesheet.css');
@import url('fonts/MyriadSetPro-Medium-fontfacekit/stylesheet.css');

#top span.amount{
	color: #428BCA !important;
	font-size:13px !important;
}

#welcome h2{
	color:#828282;
	font-family: arial, sans-serif;
	font-size:45px;
}

/*AJUSTE BTN LETF TIRADO A LA DERECHA*/
.caption_left .slideshow_caption {
left:72% !important;
top:-50px !important;
}
.footer_color #foot{
border-top: 1px solid #EAEAEA !important;	
}
#foot{
	border-top: 1px solid #EAEAEA !important;
}

/*ESTILO MASONRI BLOG*/
.main_color .av-masonry {
    background-color: #f5f5f5 !important;
   /* border: 1px solid #E2E2E2!important;*/
}
/**INICIO ESTILOS IPAD**/
/**INICIO ESTILOS IPAD**/
/**INICIO ESTILOS IPAD**/
@media only screen and (min-width: 768px) and (max-width: 989px) {
.avia-slideshow-dots {
visibility:hidden;
	}
}
/**FIN ESTILOS IPAD**/
/**FIN ESTILOS IPAD**/
/**FIN ESTILOS IPAD**/


/**INICIO ESTILOS MOVILES NUEVOS HORIZONTAL**/
/**INICIO ESTILOS MOVILES NUEVOS HORIZONTALL**/
/**INICIO ESTILOS MOVILES NUEVOS HORIZONTAL**/
 @media only screen and (min-width: 480px) and (max-width: 767px) {
 .responsive #top .slideshow_caption {
    left: 0px;
    width: 100% !important;
    padding: 0px;
    margin-top: 9% !important;
}
 .avia-slide-wrap {
    height: 261px !important;
    z-index: 45 !important;
    overflow-y: visible !important;
    display: block;
    position: relative;
}	
 #top .avia-slideshow-button {
    border-radius: 3px;
    text-transform: none;
    padding: 12px 16px;
    display: inline-block;
    margin-left: 5%;
    top: 89% !important;
    text-decoration: none;
    font-weight: bold;
    color: #FFF;
    bottom: inherit !important;
}	
 }
/**FINAL ESTILOS MOVILES NUEVOS HORIZONTAL**/
/**FINAL ESTILOS MOVILES NUEVOS HORIZONTALL**/
/**FINAL ESTILOS MOVILES NUEVOS HORIZONTAL**/



/**INICIO ESTILOS MOVILES NUEVOS VERTICAL**/
/**INICIO ESTILOS MOVILES NUEVOS VERTICAL**/
/**INICIO ESTILOS MOVILES NUEVOS VERTICAL**/
/*  #Mobile (Portrait)
================================================== */
/* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) {
/*ESTILOS VENTANA CHAT EN MOVILES*/	
#CX_popup_0 .cx-widget{
width: 300px;
right: 2px !important;
}	
#CX_btn_0.cx-chat-btn cx-online-btn{
right: 2px !important;	
}
#top .av_slideshow_full .avia-slideshow-arrows a {
    margin: -74px 0px 0px;
    width: 20px;
    text-align: center;
    height: 100px;
    line-height: 22px;
}
.responsive #top .slideshow_caption {
    left: 0px;
    width: 100% !important;
    padding: 0px;
}
.responsive .av_slideshow_full .container.caption_container {
    margin-left: -170px;
}

.av_slideshow_full .container.caption_container {
    position: relative;
    top: 29px;
    z-index: 5;
    height: 30px;}
/*.av_slideshow_full .container.caption_container {
    position: absolute;
    top: 129px;
    z-index: 5;
    height: 30px;}*/


#top .avia-slideshow-button.avia-color-light {
    padding: 5px 6px !important;
    color: #000;
   border: 1.3px solid #5C5C5C;
    background-color: rgba(255, 255, 255, 0.91);
}


.avia-slideshow-inner{
style="padding: 0px; height: 201px; transition: none 0s ease 0s ; transform: translateZ(0px);"}


.avia-slide-wrap {
    height: 193px;	
   /* height: 201px;*/
    z-index: 45 !important;
    overflow-y: visible !important;
    display: block;
    position: relative;
}


.avia-slideshow-dots {
    position: relative;
    z-index: 200;
    width: 100%;
    bottom: 30px !important;
    text-align: center;
    left: 0px;
    height: 0px;
   visibility: hidden;
	}
	

}
/**FIN ESTILOS MOVILES NUEVOS**/
/**FIN ESTILOS MOVILES NUEVOS**/
/**FIN ESTILOS MOVILES NUEVOS**/

.avia-content-slider-active .slide-entry-wrap {
    position: absolute;
    top: 0px;
    visibility: hidden;
    margin: 0px;
    max-height: 503px !important;
    background-position: center center !important;
    background-size: contain;}
    
.slideshow_caption {
    z-index: 100;
    /*CAMBIO*/
    width: 56% !important;
    top: 6% !important;
}
    
#top .avia-slideshow-button.avia-color-light {
    padding: 10px 26px;
    color: rgba(255, 255, 255, 1);
    border: 1.3px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.2);
}
#top .avia-slideshow-button {
    border-radius: 3px;
    text-transform: none;
    padding: 12px 16px;
    display: inline-block;
    margin-left: 3%;
    top: 30%!important;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    bottom: inherit !important;
}

#top .form-row .input-checkbox{display: inline;
margin: 5px 8px 0px 0px;
text-align: center;
vertical-align: middle;
float: left !important;}


.tax-total {
    display: none !important;
}

.page-id-7116 div .flex_column {
    z-index: auto;
}

p.fakealert  {
     background-color: #e7e8e9;
    background-repeat: no-repeat;
    border-radius: 25px;
    color: #05afee;
    list-style: outside none none;
    padding: 30px 0 30px 30px;
		margin:0px;
		font-size:15px;
}
/*ALERTA OUT STOCK*/
.out-of-stock{
	padding: 10px !important;
margin: 20px !important;
position: relative;
width: 211px!important;
background-color: #FF7676 !important;
text-transform: uppercase;
font-size: 0.92em;
}

#customer_details .form-row.create-account {
    display: none !important;
}

/*NUEVA POSICION BTN CHAT*/
.cx-chat-btn {
    font-size: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease 0s;
    z-index: 999999;
    cursor: pointer;
    bottom: 50px !important;
}

/*NUEVA ALERTA REGISTRO OK*/
.simplr-message.success {
	background-color: none repeat scroll 0% 0% rgba(255, 255, 255, 0) !important;
color: #4F8A10; !important;
    width: 500px !important;
    margin: auto!important;
    background-image: url("http://mc.arbolnaranja.com/wp-content/uploads/2015/04/alert-01.png")!important;
    height: 50px!important;
    text-align: left!important;
    text-transform: uppercase!important;
    padding: 7px 10px 10px 20px!important;
}

/*NUEVA ALERTA DE ERROR*/
.simplr-message.error {
	background-color: none repeat scroll 0% 0% rgba(255, 255, 255, 0) !important;
    color: #D8000C !important;
    width: 500px !important;
    margin: auto!important;
    background-image: url("http://mc.arbolnaranja.com/wp-content/uploads/2015/04/alert-01.png")!important;
    height: 50px!important;
    text-align: left!important;
    text-transform: uppercase!important;
    padding: 7px 10px 10px 20px!important;
}

/*btn agregar mas o menos en sidebar*/
div form.cart div.quantity {
    float: left;
    margin: 0px;
    width: 100px !important;
    min-width: 100px !important;
}

/*SOMBRA BTN CHAT*/
.cx-chat-btn {
	box-shadow: none !important;
}

/*LINEA ESPACIADORA ENWIDGET CHAT*/
.cx-form .cx-line {
    margin-bottom: -10px !important;
}


/*TEXTO BNT CHAT*/
.cx-chat-btn .cx-title {
    display: block;
    overflow: hidden;
    margin: 5px!important;
    text-align: center !important;
    text-align: 10px !important;
    font-size:12px !important;
     clear: both!important;
     float: none !important;
     font-family: "myriad_set_promedium" !important;
}


/*POSICION ICONO CHAT*/
.cx-chat-btn .cx-ico-chat {
    display: none;
    padding: 8px 10px 0px 10px!important;
    clear: both!important;
    text-align: center!important;
    float: none !important;
}

#arf_modal_default.arform_modal_link_102:a{
	color:#ffffff !important;
}


/*LIGTHBOX ARFORMS*/
.arfmodal-backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1040;
    background-color: #1783A7 !important;
    opacity: 0.8 !important;
}






/*.header_color .main_menu ul:first-child > li > a {*/
.header_color .main_menu ul:first-child > li > a {
	background-color:#red !important;
}


/*ESTILO BK BTN SHORDCODE ADD TO CAR*/
div .main_color .button{
/*background-color: #1587C9 !important;*/
    border-color:NONE;
    color: #FFF;
}
div .main_color .button:hoover{
background-color: #5CAAE7 !important;
    border-color:NONE;
    color: #FFF;
}

/*PRECIO DE PRODUCTOS WOOCOMMERCE INSERTADOS EN LAS PAGINAS DESCRIPTIVA DE APPLE*/
.amount{
font-size: 20px;
color: #000;
font-weight: 900;
}

/*ESTILO BTN AGREGAR A CARRITO EN PAGINAS DESCRIPTIVAS*/
a.button.add_to_cart_button.product_type_simple {
    padding: 9px 19px !important;
    border-radius: 3px;
    float: left;
    margin-top: 14px;
    margin-right: 10px;
}


/*Ajuste dimension accesorios*/
#top .product div.images img {
    display: block;
    width: 350px !important;
    height: auto;
    margin: auto;
}
.ar_main_div_104 .arfsubmitbutton .arf_submit_btn{
	font-family: "myriad_set_promedium" !important;
}

/* TEXT FICHAS TECNICAS*/
.main_color blockquote {
    border-color: #636363;
    text-align: justify !important;
    font-size: 9px !important;
}
/*OCULTAR LINK FORM POPUP*/
.ar_main_div_104 #brand-div.top_container {
    margin-left: 0px;
    text-align: left;
    visibility: hidden !important;
}


/*FFAMILY LABEL POPUP*/
.ar_main_div_104 label.arf_main_label {
	font-family: "myriad_set_promedium" !important;
}



/*POSICION BTN NEWSLETTER POPUP*/
.ar_main_div_104 .arf_submit_div.top_container{
	margin-left: 0 !important;
    	clear: both;
    	text-align: left;
}

/*STYLE FONT TITULO POPUP*/
.ar_main_div_104 .formtitle_style {
	padding: 0px;
color: #4A494A;
font-family: "myriad_set_promedium" !important;
text-align: left;
font-size: 14px;
font-weight: normal;
font-style: normal;
}

/*OCULTAR LINK ARFORMS*/
.ar_main_div_100 #brand-div.left_container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    visibility: hidden !important;
}



/*POSISION BTN FORM NEWS LETTER*/
.ar_main_div_100 .arf_submit_div.left_container {
    text-align: center;
    clear: none!important;
    float: left!important;
    margin: -10px 0px 0px 20px !important;
}

/*TEXT FIELD CODIGO CUPON*/
.coupon .input-text {
    width: 200px;
    float: left;
    margin: 0px 1px 1px 0px;
    font: 12px/17px "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 12px;
    border-radius: 2px;
    height: 38px;
}

/*GLOW BTN AÑADIR A CARRITO*/
.clsDetails button.single_add_to_cart_button {
	box-shadow:rgba(255,255,255,0.0) 0 0 0 !important;
}
.woocommerce-page .button.single_add_to_cart_button {
	box-shadow:rgba(255,255,255,0.0) 0 0 0 !important;
}
.slideshow_inner_caption{
	margin-top: 27% !important;
}

/*BK FORMULARIO NEWSLETTER*/
.ar_main_div_100 .arf_fieldset {
    background: none no-repeat scroll left top rgba(255, 255, 255, 0) !important;
    margin: 0px;
    padding: 0px 0px !important;
    border-radius: 0px;
    box-shadow: none;
    border: 0px solid #D9D9D9;
}
/*STYLE BTN NEWS LETTER*/
.ar_main_div_100 .arfsubmitbutton .arf_submit_btn {
height: 35px;
width: 150px;
max-width: 100%;
margin: 10px 10px 0px -20px;
font-family: inherit !important;
font-family: "myriad_set_promedium" !important;
font-size:inherit !important;
font-size: 13px!important;
font-style: normal;
cursor: pointer;
background: none repeat scroll left top #1587C9;
padding: 0px 10px;
vertical-align: top;
text-transform: none;
color: #FFF !important;
border: 0px solid #E1E1E3;
text-shadow: none;
box-sizing: content-box;
border-radius: 2px;
box-shadow:none !important;

}

/*TITULO FORMULARIO NEWS LETTER*/
.ar_main_div_100 .formtitle_style {
    padding: 0px;
    color: #222;
    font-family: 'myriad_set_promedium' !important;
    text-align: left;
    font-weight: normal;
    font-style: normal;
}

#flex_column av_one_fifth {
        border-bottom: none !important;
}



/*AJUSTE MENU MOVILES*/
/*#mobile-advanced li {
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    display: inline;
    height:48px;
    overflow-x:visible;
    overflow-y:hidden;
}*/

/*AJUSTE MOSTRAR BTNS HOMEBOX*/
#top .avia-smallarrow-slider .avia-slideshow-dots {
    position: relative;
    width: 100%;
    left: 0px;
    bottom: 0px;
    margin-top: 10px;
    display: block;
}
/*AJUSTE DOTS SLIDER PRINCIPAL*/
.avia-slideshow-dots {
    position: relative;
    z-index: 200;
    width: 100%;
    bottom: 30px !important;
    text-align: center;
    left: 0px;
    height: 0px;
    display: none;
}
.avia-slideshow-dots a {
    display: inline-block;
    height: 5px;
    width: 5px !important;
    border-radius: 5px;
    background: none repeat scroll 0% 0% #000;
    opacity: 0.6;
    text-indent: 100px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    bottom: 20px;
    margin: 0px 10px;
    border: 1px solid rgba(255, 255, 255, 0.4) !important;
}

/*ESTILO MENU MOVIL

#mobile-advanced li {
    margin: 0px;
    padding: 0px;
    position: relative;
    float: left;
    clear: none;
    width: 100px;
    overflow-y: hidden;
    overflow-x: scroll !important;
    display:block;
}
*/
/* ESTILOS PARA BLOQUES DE TXTX EN FICHAS TECNICAS*/
#ft{
min-height: inherit !important;
height: auto !important;
background-color:red !important;
}
/*padding div descripcion de productos*/
#desc p {
/*padding-left:30px;*/      
}
/* txt parrafo widget chat*/
.cx-form .cx-lead {
    color: #222;
    font-size: 13px !important;
    font-family: 'myriad_set_promedium' !important;
    text-align: justify;
    line-height: 19px;
    margin-bottom: 30px;
}

/* fuente titulo widget chat*/
.cx-widget .cx-header > .cx-title {
    font-size: 16px;
    font-family: 'myriad_set_promedium' !important;
}
/* BTN enviar*/
.cx-form-btn {
    display: inline-block;
    width: inherit;
    border: medium none;
    padding: 7px 27px !important;
    background: none repeat scroll 0% 0% transparent;
    border-radius: 2px !important;
    cursor: pointer;
    font-family: 'myriad_set_promedium' !important;
}




/* General Custom CSS */
.clsTitleCon{background-color:#000000; height:110px; }
.clsTitleCon img{margin-top:15px; }
.row{padding:0 15px; }
.clsTitleCon .col-lg-6{padding:0; }
.clsTitle{margin-top:10px; font-size:15px; color:#ffffff; padding-right:15px; }
.clsTopList{margin-left:0; }
.clsTopList li{display:block; float:left; width:24.6%; border-radius:2px; padding:3px 10px; box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3); }
.clsTopList li:nth-child(4){
display: none;
}
.clsTopList li a{}
.clsTopList li a:hover{text-decoration:none; }
.clsTopList li img{display:inline-block; width:80px; }
.clsRelTitle{padding:0; color:#368CCA; font-size:12px; font-weight:bold; display:inline-block; width:140px; margin-left:10px; vertical-align:top; margin-top:25px; }
.clsSinProd .col-lg-3{padding-right:0; }
.clsSinProd .upsells{margin-top:45px; }
.clsContent{padding-left:0; padding-right:50px; min-height:650px;}
h1.clsBotTitle{
    text-transform: none;
    padding: 5px 2px 5px 30px !important;
    border: 1px solid #CCC;  /* Why is this border over here */ /*please dont comment, this line is necesary.*/
    width: 100% !important;
    min-width:240px !important;
    font-weight: 600 !important;
    color:#292325; 
    font-size:28px; 
    z-index:200;
    position:absolute;
}       

#top form.login, #top form.register {
    height: auto;
}

/*color:#292325; 
font-size:28px; 
margin-top:10px; 
padding-bottom:10px; 
border-bottom:1px solid #AAAAAA; 
font-family:'MyriadSetPro-Medium'; 
font-weight:normal; 
letter-spacing:-1px;
}*/

h2.clsFinish{color: #000000; font-size: 18px; font-family: 'myriad_set_promedium' !important; font-weight: normal; margin: 20px 0 10px;text-transform:capitalize }
/*Please do not change the following line */
.content {padding-bottom: 50px;  /*padding-top: 50px; */}
.sidebar{padding-bottom: 50px;  padding-top: 50px; }
.clsContent .clsCenTitle{font-size:18px; color:#6B6869; font-weight:bold; margin-bottom:30px; }
.clsContent ul{margin-left:0; margin-top:25px;  }
.clsContent li.variation{text-transform:capitalize; color:#292325; font-size:16px; cursor:pointer; font-family: 'myriad_set_promedium' !important; }
.clsContent .active.clsModel{border-color:#368CCA; background-color:#f1f2f2; }
#top .main_color .variation .price, #top .variation .price span{font-size:18px; color:#292325; font-family: 'myriad_set_promedium' !important;font-weight:normal; line-height:normal; }
#top .main_color .variation .price{margin:10px auto; display:inline-block; }
.clsContent #v-image{height:200px; }
.clsContent .clsModel{border-radius:10px; border:1px solid #AAAAAA; text-align:center; padding:15px; }
.clsModelName{border:1px solid #777777 !important; border-radius: 7px; display: inline-block; padding: 4px 15px; text-transform:uppercase; font-size:18px; color:#292325; font-family: 'myriad_set_promedium' !important; cursor:pointer; }
.clsContent .active.clsModel .clsModelName{border-color:#368CCA !important; }
.clsSidebar h3{padding:5px 14px; border-bottom:1px solid #e1e1e1; color:#292325; font-size:12px; font-family: 'myriad_set_promedium' !important; font-weight:bold;}
.clsDetails, #top .clsDetails .price span.amount{color:#292325; font-size:12px; font-family: 'myriad_set_promedium' !important; font-weight:normal; line-height:normal; }
.clsDetails{
	padding:15px;}
}
#top .clsDetails .price span.amount { font-family: 'myriad_set_promedium' !important, arial, sans-serif; font-weight: bold }
#top .clsDetails span.amount { font-family: 'myriad_set_promedium', arial, sans-serif; font-weight: bold }
.clsDetails .clsSubDiv{/*margin:5px 15px;*/ font-size:12px; }
div.product p.stock { margin: 0px 0px 10px;}
#top div.product div.clsDetails.images img{height:auto; width:150px; margin:0 auto; }
#top .clsDetails form{margin-bottom:0; }
.clsDetails button.single_add_to_cart_button{background-color: #00a14f !important; transition:all 0.3s ease-out 0s; border-radius:2px; font-family: 'myriad_set_promedium' !important; padding:10px; font-size:11px; margin-top:10px; }
#top div div.woocommerce-message a.button.wc-forward{width:14%; padding:10px; }
.clsDetails button.single_add_to_cart_button:hover, #top div div.woocommerce-message a.button.wc-forward:hover{background-color:#0088cc !important; border-color: #0066aa !important; transition:all 0.3s ease-out 0s; }
.clsDetails #price .price {font-size:12px; line-height:normal; font-weight: bold; }
.clsSidebar{border-radius: 2px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); margin-top:60px; border:1px solid #e5e6e7; padding:1px; }
.clsSidebar .clsBotDetails{padding:5px 15px; border-bottom:1px solid #e1e1e1; color:#292325; font-size:11px; font-family: 'myriad_set_promedium' !important; margin:0; }
/*.clsSidebar:last-child{border-bottom:0 none; } */
.clsSidebar .clsBotTitle{padding:5px 15px; line-height:normal; font-weight:bold; }
.clsSidebar .clsBotDetails a{color:#368cca; text-decoration:none; }
.clsSidebar .widget{padding:10px 15px; color:#292325; font-size:18px; font-family: 'myriad_set_promedium' !important; line-height:normal; }
.clsSidebar .thumbnails{display:none; }
/*.clsContent .clsSpec{border-top:1px solid #AAAAAA; margin:10px 0; padding:30px 0 0; }
.clsContent .clsSpec .clsMetaImg img{display:block; width:64px; }
.clsContent .clsSpec p{font-size:20px; font-family:'MyriadSetPro-Medium'; color:#292325; }
.clsContent .clsDesc{font-size:14px; font-family:'MyriadSetPro-Medium'; color:#292325; font-size:16px; } */
.clsExc{color:#292325; font-family: 'myriad_set_promedium' !important; font-size:14px; }
.clsVariation .variation.active{color:#368CCA; }
.clsModelDesc{color:#292325; font-size:18px; font-family: 'myriad_set_promedium' !important; }
.clsContent .clsVariation{border-bottom:1px solid #AAAAAA; margin:10px 0 15px; }
.clsContent .clsModelSel{color:#292325; font-size:22px; font-family: 'myriad_set_promedium' !important; font-weight:normal; margin:20px 0 30px; }
.products .thumbnail_container{height:auto; display:table; }
.products .thumbnail_container img{display:table-cell; vertical-align:middle; }
#top div .quantity input.qty, .quantity input.qty{border:1px solid #e1e1e1; margin:0 10px; }
table div.quantity{width:150px; }
.woocommerce-page .button{margin-top:0px !important; margin-right: 10px; }
#top .avia-post-nav {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.1) !important;
    visibility: hidden !important;
}
.clsContent .avia-image-container{ /* width:64px; Commented because it makes all image too small */ display:inline-block; margin-right:25px; max-width: 100%; }
.clsContent .av-special-heading{margin-top:0; }
.clsContent .av-special-heading-tag{font-size:20px; font-family: 'myriad_set_promedium' !important; color:#292325;}
.clsContent .flex_column p{font-size:14px; font-family: 'myriad_set_promedium' !important; color:#292325; font-size:16px; margin-top:0; }
#top .av_font_icon a{padding-top:0; }
.main_color div{border:medium none; }
.main_color tr.clsBlank{background:#ffffff; }
.main_color tr.clsBlank td{border-left:medium none; border-right:medium none; border-top:medium none; }
.cart-collaterals .cart_totals{width:100%; }
.custom_table.shop_table td, .custom_table.shop_table th{background-color:#ffffff; }
.clsCartTotals td.clsCartTotTD{padding-right:0; padding-left:0; border-right:0px solid #ffffff; border-left:0px solid #ffffff; }
.custom_table.shop_table .clsMainTable th{border-width:1px; border-color:#e6e7e8; border-style:solid; color:#231F20; }
.custom_table.shop_table .clsMainTable tr{border-color: #231f20; border-style: solid; border-width: 1px; }
.custom_table.shop_table tr.cart_item{border:1px solid #E6E7E8; }
.custom_table.shop_table tr.cart_item td{border:1px solid #E6E7E8; }
.clsActions{border:1px solid #E6E7E8; }
#top .custom_table.shop_table .actions .coupon .input-text{border:1px solid #e1e1e1; line-height:normal; padding:10px;font-size:13px; background-color: #f8f8f8; border-color: #e1e1e1; color: #919191;font-family: 'myriad_set_promedium';}
#top table.shop_table .actions .button{padding:13px 0; }
#top .custom_table.shop_table .actions .coupon .input-text:focus{box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2); }
#top table.custom_table.shop_table .actions .checkout-button, #top #payment #place_order{padding:13px 0; border-radius:2px; font-size:12px; background-color:#00a14f; border:1px solid #00a14f; transition:all 0.3s ease-out 0s; }
#top #payment #place_order{padding:13px !important;}
#top table.custom_table.shop_table .actions .checkout-button:hover, #top #payment #place_order:hover{background-color:#0088cc; border-color: #0066aa; transition:all 0.3s ease-out 0s; }
#top .main_color table.custom_table.shop_table .quantity input.plus, #top .main_color table.custom_table.shop_table .quantity input.minus{border:1px solid #e4e4e4; background:#ffffff; width:30px; height:30px; line-height:24px; border-radius:50%; color:#231F20; }
#top table.custom_table.shop_table .quantity input.qty{border:1px solid #e4e4e4; border-radius:4px; color:#231F20; width: 35px !important;}
.clsTopImg{margin:40px 0; }
.clsTopImg img{display:block; margin-top:5px; width: 400px; }
.clsTopImg span{display: inline-block; margin-right:57px; width: 130px; color:#231F20; }
.product-remove .remove{border:1px solid #ED1D24; }
#top .main_color .custom_table.shop_table .product-remove a.remove, #top .main_color .custom_table.shop_table .product-remove a.remove:hover{color:#ED1D24; background-color:#ED1D24; }
.custom_table.shop_table .product-name a, .custom_table.shop_table .product-price .amount, .custom_table.shop_table .product-subtotal .amount{color:#231F20; }
.form-row-quarter{width:24%; float:left; }
.form-row-half{width:49%; float:left; }
#top .form-row.form-row-quarter, #top .form-row.form-row-half{margin-right:1%; }
#top .form-row.form-row-quarter.form-row-quarter-last, #top .form-row.form-row-half.form-row-half-last{margin-right:0; }
div .av_two_third{margin-left:2%; }
/*body .column-top-margin{margin-top:10px; }*/
#top .main_color .checkout .input-text, #top .main_color .checkout .chosen-single{border-radius:2px; font-size:11px; padding:13px; line-height:normal; height:auto; }
#top input[type="text"]:focus, #top input[type="password"]:focus, #top input[type="email"]:focus, #top input[type="number"]:focus, #top input[type="url"]:focus, #top input[type="tel"]:focus, #top input[type="search"]:focus, #top textarea:focus{box-shadow:0 0 2px 0 rgba(0, 0, 0, 0.2) !important; }
#top #payment{border-width:2px; width:50%;}
/*{background-color:#e4e4e4; border:1px solid #777777; color:#777777; border-radius:2px; font-size:11px; padding:12px; }
{color:#0088cc;}*/
#top #main ul.order_details{border-width:1px; border-color:#939598; border-radius:8px; }
.hr-short .hr-inner{width:100%; }
.clshide,{ display:none; }
.custom_table.shop_table table td, .custom_table.shop_table table th{background-color:inherit; }
.custom_table.shop_table.cart{border:1px solid #ffffff; }
/* .images{display:none; } */
.textwidget{font-size:12px; }
.clsSidebar .row{margin-bottom:10px; }
#top .clsSidebar div .quantity input.plus, #top  .clsSidebar div .quantity input.minus{border:1px solid #e4e4e4; background:#ffffff; width:22px; height:22px; line-height:20px; border-radius:50%; color:#231F20; }
#top .clsSidebar div .quantity input.qty{border:1px solid #e4e4e4; border-radius:4px; color:#231F20; }
#top .clsSidebar div .quantity input.qty{height:30px; width:30px !important; line-height: 30px; margin-bottom:10px;}
.clsDetailsImg{text-align:center;
}
.bigimg{
height:400px;
overflow:hidden;
}

/*.single-product .clsContent .flex_column p {
font-size: 12px;
padding:10px 10px 10px 10px;
}
*/
.single-product .clsContent .flex_column p {
    font-size: 10px !important;

    color: #636363 !important;
}
.single-product .flex_column.av_one_third.first img {
width: 25px;
max-width: 25px;
height: auto;
}

.single-product .flex_column.av_one_third.first .avia_image.avia-align-center {
margin: 10px auto 0px auto;
}

.single-product .clsContent .av-special-heading-tag {
    font-family: "myriad_set_promedium" !important;
    text-transform: none;
    padding: 5px 2px 5px 30px !important;
    border: 1px solid #CCC;
    width: 100%;
    font-weight: 100 !important;
    font-size: 28px;
    margin-bottom: 30px;
}

.clsSidebar {
font-size: 11px;
}
table.cart .remove-custom img{width:12px; }
.remove-custom {
    border: 1px solid #ED1C24 !important;
    border-radius: 50%;
    display: inline-block;
    height: 20px;
    text-align: center;
    width: 20px;
}
.clsBotDetails a:hover, .clsBotDetails a:focus{background-color:transparent; }
.flex_column .av_one_full .av-special-heading{margin-top:10px; }
#top .avia-logo-element-container .slide-entry{margin-bottom:1px; }
/* Following is for making all button colours same */
.main_color .primary-background, .main_color .primary-background a, div .main_color .button, .main_color #submit, .main_color input[type="submit"], .main_color .small-preview:hover, .main_color .avia-menu-fx, .main_color .avia-menu-fx .avia-arrow, .main_color.iconbox_top .iconbox_icon, .main_color .iconbox_top a.iconbox_icon:hover, .main_color .avia-data-table th.avia-highlight-col, .main_color .avia-color-theme-color, .main_color .avia-color-theme-color:hover, .main_color .image-overlay .image-overlay-inside:before, .main_color .comment-count, .main_color .av_dropcap2{
background-color: #777777;
border-color: #555555;
color: #ffffff;
}
.main_color .button:hover, .main_color .ajax_controlls a:hover, .main_color #submit:hover, .main_color .big_button:hover, .main_color .contentSlideControlls a:hover, .main_color #submit:hover, .main_color input[type="submit"]:hover{
background-color: #0088cc;
border-color: #0066aa;
color: #ffffff;
}
 #top .clsvari .variations_form{
border:0 none;
background-color: white;
}

.clsvari .chosen-drop {
    background-color: white;
}
.main_color .clsvari .variations_form{
    background-color: white;
}
.main_color .clsvari tr:nth-child(2n+1){
    background-color: white;
}
#top #wrap_all ins:before {
    content:"";
padding: 0 0px 0 0px;
}
#top .variations td {
    padding: 0px 0px;
    vertical-align: none;
}
.info
{
font-size:12px;
margin-left:18px;
}
.modelprice
{
font-size:14px;
margin-left:18px;
}

.reset_variations {
    left:0;
}
.img-responsive {
width:100%;
}
div .clsvari form.cart table {
text-align:left;
}
.clsvari fieldset input {
width:13px;
margin-top:0;
margin-right:5px;
}
.clsvari .value {
/*white-space:nowrap;*/
width:50%;
padding:10px;
}
.clsvari fieldset div{
font-size:14px;
}
.clsvari fieldset div span.radio-active{
font-weight:bold;
}
.main_color .clsContent .variations_form table {
color:#000;
}

.spacer{
padding:8px;
}
.variations input[type=radio]{
width:auto;
margin:4px 4px 4px 4px;
}
.variations span.bold{
font-weight:800 !important;
}
.variations .clsspacer{
margin-left:20px;
}
.variations .clsspacer_last{
/*margin-bottom:20px; */
}
.variations .clsspacer .amount{color:#000;font-weight: 300 !important;}
.cart_dropdown .dropdown_widget .widget_shopping_cart_content p {padding:0; margin-bottom:5px; }
/*.cart_dropdown_first .cart_dropdown_link {background-color:#ffffff; border-bottom:1px solid #333333; }*/
#top .cart_dropdown_first a.cart_dropdown_link span {color:#00A14F; }
.widget_shopping_cart_content ul.cart_list li:hover {background-color:#F8F8F8; }
.widget_shopping_cart_content ul.cart_list li a {margin-bottom:5px; }
.cart_dropdown .dropdown_widget .widget_shopping_cart_content p.total {padding-left:15px; margin-top:5px; }
#top .dropdown_widget .buttons .button {padding:15px !important; background-color:#00a14f; color:#ffffff !important; width:50%; border-radius:0; font-weight:normal; transition: all 0.3s ease-out 0s; }
.cart_dropdown .dropdown_widget .widget_shopping_cart_content p.buttons {margin-bottom:0; }
#top .dropdown_widget .buttons .button:hover {background-color: #0088cc !important; transition: all 0.3s ease-out 0s; }


.sub-menu li a{line-height:10px !important;}
/*.sub-menu li a span{font-weight:800;}*/

 #top form.login ,#top form.register{border:none;}
.login .form-row.form-row-wide {
    clear: none;
}
.login hr, .lost_reset_password hr {border-top:1px solid #adafb2;margin:10px 0px 5px !important;}                .login hr, .lost_reset_password hr {border-top:1px solid #adafb2;margin:10px 0px 5px !important;}
-#simplr-form hr , .page-id-239 hr{border-top:1px solid #adafb2; margin:10px 0px 5px !important;}               +.page-id-239 hr{border-top:1px solid #adafb2; margin:10px 0px 5px !important;}
 .login .form-row .input-text{/*padding:17px 6px !important;*/ padding:7px !important;border:2px solid #e1e1e1 !important; border-radius:5px;}           .login .form-row .input-text{/*padding:17px 6px !important;*/ padding:7px !important;border:2px solid #e1e1e1 !important; border-radius:5px;}
 .page-id-10747 .login .frm-row .uname , .pwd{border: 2px solid #e1e1e1 !important;}

h2 span,h1 span{font-size:10px;color:#666666;font-weight:initial;}
.clsMyAcc{
margin-top:30px;
}
.myaccount_user{
font-weight:bold;
}
.myaccount_user a{
text-decoration:underline;
}
.my_account_orders th{
font-weight:400;
}
#top div.woocommerce-message{
/* background-color: rgba(0, 136, 204, 0.9); */
position:fixed !important;
bottom:0px;
margin-bottom:0px;
width:100%;
z-index:9000;
left:0px;
}
.footer_color{
position:static !important;
}
#socket{
z-index:0;
}
.prod-img{width:100% !important;}
div ul.product_list_widget{
overflow:auto;
height:400px;
}
.header_color .main_menu ul:first-child > li:hover{
background-color: #56656d;
}
.header_color .main_menu ul:first-child > li:hover > a{
color:#fff !important;
}
.sub-menu a{

        height:auto !important;
        padding-top:10px;
        padding-bottom:10px;
}
#simplr-form input[type="text"] {
    box-shadow: none !important;
    padding: 7px !important;
                border-radius:5px;
                margin:0px;
}
#simplr-form input[type="submit"] {
                margin-top:10px;
          padding: 4px 10px !important;
                float:right;
}
 .simplr-field label, .option-field label {
    width: 100% !important;font-size:14px !important; font-weight:normal !important;margin-bottom:7px;color:#666666;
}
.page-id-10749 #simplr-form #simpler-reg .simplr-field , .option-field {
    margin:0;
}
#simplr-form  .checkbox{width:50% !important;float:left;margin:-7px 0px -7px; top:31px;}
#simplr-form  .checkbox label{ font-weight: unset !important;float: right; font-size: 11px !important;}
#simplr-form  .checkbox input[type="checkbox"]{width:12px !important;margin-left:0px }
.simplr-field {
   padding:0 14px 0 0;
}
.option-field{
        padding: 0px 3px 0px 0px;
}
#simplr-form{margin-top:100px;}
.page-id-10749 .template-page .entry-content-wrapper h1{
        padding:5px 2px 0px 0px !important;
        border:none !important;
        color:#87898d;
        font-weight:600 !important;
}
.page-id-239 .template-page .entry-content-wrapper h1{
        padding:5px 2px 0px 0px !important;
        border:none !important;
        color:#87898d;
        font-weight:600 !important;
}
 .page-id-239 fieldset{padding:0 !important;}

.simplr-field input, .option-field input {
    width: 250px !important;font-size:12px !important;
}

.page-id-7116 #main .main_color, #after_section_1{background-color:#F7F7F7 !important;}
.page-id-7116 #main #formulariologin .av_two_third .woocommerce form {
        background-color:#F7F7F7 !important; 
        border-radius:5px;
        padding-left:25px;
        padding-right:25px;
        margin-top:25%;
}
.page-id-7116 #main #formulariologin .av_two_third form p{margin:4px 8px 8px 10px;}
.page-id-7116 #main #formulariologin .av_two_third form p .button{float:none; margin-bottom:30px; margin-top:15px;}
.page-id-7116 #main #formulariologin .av_two_third form  h3{margin:0 0 -15px 8px;font-size:28px;}

.page-id-239 .avia_ajax_form .text_input, .page-id-239 .avia_ajax_form .select{
        border:2px solid #e1e1e1;
        border-radius: 5px !important;
  padding: 4px !important;
                
}
.page-id-239 .avia_ajax_form .text_area{border-radius: 20px !important;}
.page-id-239 .avia_ajax_form label, .modified_width:before{color:#666666;font-size:14px !important; font-weight:unset !important;}
.page-id-239 .avia_ajax_form .text_input, .page-id-239 .avia_ajax_form .select{width:95% !important;}
.page-id-239 .avia_ajax_form .button {
        background-color:#f5f5f5;
        color:#919191;
  float: right;
  padding: 6px 25px !important;
        border-bottom-style: none;
  border-bottom-width: 0;
}
.page-id-239 input[type="text"]{border:2px solid #e1e1e1;}
.login, .login p,.page-id-7116 .lost_reset_password p, #simplr-reg , .page-id-239 form p{
        font-family: myriad_set_promedium !important;}
        
        .page-id-7116 form p #user_login [type="text"]{border:1px solid #666666 !important; box-shadow:none !important;}
.page-id-239 .avia_ajax_form .select{ border:1px solid #666666 !important; box-shadow:none !important;}

.cart_totals .wc-proceed-to-checkout{
        display:none;
}
/* Media Queries */
@media only screen and (min-width:320px) and (max-width:480px){
.responsive .logo a, .responsive .logo img{/*height:70px !important;*/ }
#mobile-advanced{background-color:transparent; border:0 none; }
#mobile-advanced li{background-color:#ffffff; }
#mobile-advanced .sub-menu a:hover{background-color:transparent; color:#0088cc; }
.clsTopList li{width:100% !important; margin-bottom:20px; }
.clsTopList li a{background-color:transparent; }
.clsContent{padding-right:0; }
.model .clsModel{margin-bottom:20px; }
.clsExc{margin:10px 0; }
.clsContent .avia-image-container{width:auto; }
.clsBotDetails a:hover, .clsBotDetails a:focus{background-color:transparent; }
.clsSidebar{margin-bottom:15px; }
.clsTopImg img{width:88%; }
.clsTopImg span{margin-right:24px; width:70px; }
.clsTopImg span:nth-child(3){margin-right:0; }
.form-row-half, .form-row-quarter, .form-row-first, .form-row-last{width:100%; }

#top #payment{width:100%; }
.responsive table.shop_table tr.clsBlank{display:none; }
.responsive #top table .product-name{font-weight:bold; }
table div.quantity{margin:0; }
.custom_table.shop_table.cart{border:1px solid #e1e1e1; padding:0 10px; background-color:#ffffff; }
.cart_totals table{border:1px solid #e1e1e1; }
.cart_totals td{text-align:left; }
#top a.cart_dropdown_link span.desc{display:none;}
}

@media only screen and (min-width:640px) and (max-width:767px) {
#mobile-advanced{background-color:transparent; border:0 none; }
#mobile-advanced li{background-color:#ffffff; }
#mobile-advanced .sub-menu a:hover{background-color:transparent; color:#0088cc; }
.clsTopList li{width:75% !important; margin-bottom:20px; }
.clsTopList li a{background-color:transparent; }
.clsContent{padding-right:0; }
.model .clsModel{margin-bottom:20px; width:70%; }
.clsExc{margin:10px 0; }
.clsContent .avia-image-container{width:auto; }
.clsBotDetails a:hover, .clsBotDetails a:focus{background-color:transparent; }
.clsSidebar{margin-bottom:15px; width:60%; }
#socket .sub_menu_socket li {display: inline-block; float:none; width: 115px; }
#socket .menu {margin-top:0; }
.custom_table.shop_table .clsMainTable tr{border-color:#e6e7e8; }
.clsActions .actions{border-bottom:1px solid #e6e7e8; }
td.actions .coupon{width:49%; }
#top .custom_table.shop_table .actions .coupon .input-text{margin-right:7px; }
#top div td.actions .coupon .input-text, #top table.shop_table .actions .coupon .button{width:48%; min-width:0; }
.responsive table.shop_table .product-remove, .responsive table.shop_table .product-thumbnail{display:table-cell; }
#top table.shop_table .actions .button, #top .actions .checkout-button.button.alt{min-width:0; width:24%; float:left; }
#top #payment{width:100%; }
#top a.cart_dropdown_link span.desc{display:none;}
}
input[type="submit"], #submit, .button{padding: 9px 27px;}


/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width:768px) and (max-width:1023px){
#top #header .mega_menu_title a{width:145px !important; }
/* .logo img{width:80% !important; } */
#socket .sub_menu_socket li{display: inline-block; float: none; padding: 0; width: 130px; border-left:medium none; }
div .products .product a:hover{background-color:transparent !important; }
.products .thumbnail_container{height:auto; }
.clsTopList li{width:50%; margin-bottom:20px; }
.clsTopList li a:hover{background-color:transparent; }
.model .clsModel{margin-bottom:20px; }
.clsExc{margin:10px 0; }
td.actions .coupon{width:49%; }
#top .custom_table.shop_table .actions .coupon .input-text{margin-right:7px; }
#top div td.actions .coupon .input-text, #top table.shop_table .actions .coupon .button{width:48%; min-width:0; }
table.shop_table .product-remove, table.shop_table .product-thumbnail{display:table-cell; }
#top table.shop_table .actions .button, #top .actions .checkout-button.button.alt{min-width:0; width:24%; float:left; }
a:hover, a:focus{background-color:transparent; }
#socket .menu{margin-top:0; }
#top a.cart_dropdown_link span.desc{display:none;}
}

@media only screen and (min-width:1024px) {
a:hover, a:focus{background-color:transparent; }
.clsRelTitle{width:105px; }
}

.template-shop .product_meta
{
top:0px;
margin-bottom:10px;
display:none;
}
.single_variation_wrap{
margin:10px;
}
div.product p.stock
{
padding:0 0px;
/*margin:5px 15px;*/
}
p.stock {
    padding: 0px;
    margin: 5px 0px;
    background-color: rgb(179, 179, 179);
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255) !important;
    border-radius: 2px;
    margin: 20px auto !important;
   
}

.template-shop .single-product-main-image .images a{
border-style:none;
}
span.onsale{display:none;}
div form.cart table{text-align:left;}
.variations tr:nth-child(2n){
color:#000000;
}
.main_color table.variations
{
background-color:none;
}
#top .variations_form {
background-color:transparent;
border-style:none;
padding:0px;
}
button.single_add_to_cart_button{
background-color: #00a14f !important;
}
.woocommerce-page .button.single_add_to_cart_button{
padding:10px !important;
}
#top div .quantity input.plus, #top div .quantity input.minus {
height:auto;
line-height:30px;
}
#top div .quantity input.qty{
width:35px !important;
line-height:30px;
height:auto;
}
.single-product-main-image {
    padding-top: 55px;
}
.single-product-main-image .thumbnails{
display:none;
}
.main_color tr:nth-child(2n+1), .main_color .pricing-table > li:nth-child(2n+1), .main_color .pricing-extra{
background-color:transparent;
}
.single_variation{
/*margin:10px;
padding:10px;
background-color:#f8f8f8;*/
}
.single_variation .amount{
font-size:16px;
}
.single_variation p{
padding:5px;
margin:0px;
}
/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width:767px) {
	
  /* Add your Mobile Styles here */
  
  .avia-content-slider img {
    overflow: hidden;
    border-radius: 2px;
    display: block;
    position: relative;
    border-bottom: solid 1px #eee;
}
.chosen-container {
        width:270px!important;
  }
  .page-id-7116 #main #formulariologin .av_two_third form p{margin:0;}
  .page-id-7116 #main #formulariologin .av_two_third form #billing_country_chosen{padding-right:52px;}
  #simplr-form  .checkbox{width:auto !important;}
  .clsinfo{top:10px;}
  #simplr-form input[type="submit"] {
  margin-top:45px;}
  #advanced_menu_toggle, #advanced_menu_hide{display:block;}
 
}
@media only screen and (min-width:768px) and (max-width:980px) {
        .chosen-container {
         width:210px!important;
  }
  .page-id-7116 #main #formulariologin .av_two_third form p{margin:0 0 10px;}
  .page-id-7116 #main #formulariologin .av_two_third form #billing_country_chosen{padding-right:26px;}
}

@media only screen and (min-width:1280px) and (max-width:1290px) {
        .chosen-container {
         width:315px!important;
  }
}

@media only screen and (min-width:990px) {
        .cart_dropdown.visible_cart {
                top: 25px;
    right: 10px;
        }
}
input[type="submit"], #submit, .button {
        border-radius: 2px;
}

.form-row input[type="submit"], #submit{
        border-radius: 2px;
        color:#ffffff;
        background-color:#666666;
        padding: 9px 54px!important;
        font-size:14px;
}
.login .form-row input[type="text"] , input[type="password"]{background-color: #f8f8f8 !important;border-color: #e1e1e1;
    color: #919191 !important;}
.login .form-row{padding: 3px 0px 0px 0px !important;}
.login .form-row label , .lost_reset_password label{font-size:14px !important;margin-bottom:7px; font-weight:unset !important;color:#666666!important;}
.login .form-row input[type="submit"], #submit{
        border-radius: 0px;
        color:#919191;
        background-color:#F9F9FA;
        padding: 4px 15px!important;
        font-size:13px;
}
.login h2{color:#87898d;}
.button {
        border-radius: 0px;
        color:#ffffff;
        background-color:#666666;
        padding: 0px 0px!important;
        font-size:14px;
}

.woocommerce .form-row input[type="submit"], #submit,  {
  margin-top:0px;
        padding: 13px 54px!important;
}
.button {
   /* margin-top: 0px;
    padding: 1px 5px !important;*/
    margin-top: 0px;
padding: 8px 19px !important;
border-radius: 3px;
float: left;
margin-top: 14px;
margin-right: 10px;
}

#top .form-row label{
        font-size:14px;
        color:#777;
        font-weight:normal;
}
 .inline{
         font-weight:normal!important;
  color:#6D6D6D;
}
.lost_password a{
        color:#666666;
        font-size: 1.15em;
}
.lost_reset_password .input-text{
        padding:7px !important;
        border-radius:5px;
}
.page-id-7116 .lost_reset_password input[type="submit"]{
        padding:8px 8px !important;
        color:#919191;
        background-color:#f5f5f5;
}       

.sub-menu .avia-menu-text{
        padding:4px;
        font-family: 'myriad_set_promedium';
}
.sub-menu{
        /*min-width: 84px;*/
        min-width:100% !important;
}

.entry-summary  .single_variation_wrap{
        display:none!important;
}

.entry-summary.col-md-6 {
    padding-top: 50px;
}

.nameset{
        background-color:none;
        font-size:12px;
        font-weight:bold;
        /* color:#282828; */
        color:#56656d; 
        display:block;
}
.adminset{
        padding: 0px 0px;
        display: inline-block;
        line-height: 12px;
        margin-top: 19px;
        /*margin-left: -30px; */ /* Do not uncomment this is needed for 15inch screen */
        margin-left: 10px; /* DO NOT REMOVE! Respect someone else's code */
        font-family: 'myriad_set_promedium';
}
.linkcolor a{
        /*color:#282828; */ /*Keeping As per design */
        color:#8E8E8E;
        display:inline-block;
  font-weight: bold;
  font-size: 10px;
}


#av_section_3 {
    position: relative;
   /* z-index: -1;*/
}

#customer_login{
        margin-top:150px;
        margin-bottom:150px;
}
#simplr-form h2, .post-entry-12342 h2, .lost_reset_password h2{
        color:#949699;
}
#customer_login h2 span{
        color:#666666;
        font-size:10px !important;
}
.lost_reset_password .info{
        padding-left:0px;
        margin-left:0px;
        padding-top:0px;

}
#simplr-form h1{
        padding-left:0px !important;
}
.btnGradient, #top .post-entry-12342 .avia_ajax_form input[type="submit"] {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -moz-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -ms-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: -o-linear-gradient(top, #ffffff, #e3e3e3);
  background-image: linear-gradient(to bottom, #ffffff, #e3e3e3);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px !important;
  color: #666666 !important;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border: #DEDEDF 1px solid !important;
  text-decoration: none;
}

.btnGradient:hover, #top .post-entry-12342 .avia_ajax_form input[type="submit"]:hover {
  background: #e3e3e3;
  background-image: -webkit-linear-gradient(top, #e3e3e3, #ffffff);
  background-image: -moz-linear-gradient(top, #e3e3e3, #ffffff);
  background-image: -ms-linear-gradient(top, #e3e3e3, #ffffff);
  background-image: -o-linear-gradient(top, #e3e3e3, #ffffff);
  background-image: linear-gradient(to bottom, #e3e3e3, #ffffff);
  text-decoration: none;
}
#customer_login input[type="submit"]{float:right;}
#customer_login .required, #simplr-form  .required , #top .post-entry-12342 .required  {color:#a1a3a5}
.form-row .lost_password{display:block;line-height:15px;margin-left:0px;}
#customer_login label.rememberme{font-size:12px !important;color:#D7D8DA;}
#customer_login input[type="text"], 
#customer_login input[type="password"],
#top #simplr-form input[type="text"], 
#top #simplr-form input[type="password"]
#top .post-entry-12342 input[type="text"],
#top .post-entry-12342 .text_area 
{
        background-color:#F3F3F4 !important;
        border: 1px solid #ccc !important;
}

.template-page .entry-content-wrapper .col-lg-offset-3{
          border:none;
}

#top .chosen-container-single .chosen-single{
         height:35px;
}
.woocommerce_top {
        margin-top:100px;
}
.woocommerce a.continue-button{
        background-color:#2F9BF2
        font-family: 'myriad_set_promedium'!important;
}
#top .form-row.form-row-last {margin-left:10px !important}
#simplr-reg h1{padding-left:0px;border:0px;}
#top form.login, #top form.register{background-color:transparent !important;}
/* Following form is assuming its contact form */
/* .post-entry-12342 */
#top .post-entry-12342 fieldset{padding:0px !important}
#top .post-entry-12342 label{
        width: 100% !important;
        font-size:14px !important; 
        font-weight:normal !important;
        margin-bottom:7px;      
        font-family: 'myriad_set_promedium';
        color:#666666;  
}
#top .post-entry-12342 .avia_ajax_form .text_input, 
#top .post-entry-12342  .avia_ajax_form .select,
#top .post-entry-12342 .avia_ajax_form .text_area{
        width:100%;
        padding:6px;
        font-family: 'myriad_set_promedium';
        background-color:#F3F3F4 !important;
        border: 1px solid #ccc !important;
        box-shadow:none;
        
}
#top .post-entry-12342 .avia_ajax_form .text_area{
        border-radius:3px !important;
        width:100%;
}
#top .post-entry-12342 .avia_ajax_form input[type="submit"]{
        padding: 4px 21px !important;
        margin-right:26px;
        float:right;
        border: 1px solid #ccc !important;
}

.clsinfo{
        margin-top: 97px;
        position: relative;
        top: 25px;
        color:#D7D8DA;  
}
.cart_dropdown .dropdown_widget .widget_shopping_cart_content{
        border:1px solid gray;
}

.cart_dropdown{width:auto;font-size:12px;font-family:'myriad_set_promedium',sans,verdana; }
#top a.cart_dropdown_link span.desc{font-size:10px;}
.lost_reset_password{
        margin:140px 0px;
}
#top .post-entry-12342 .hr-inner-style, #top .post-entry-12342 .avia-builder-el-5 .hr-inner{
        border-color:#adafb2;
}
#top .post-entry-12342  .av-special-heading-tag{
        font-weight:bold;
}
/*forgot password */

.avia_transform .av_font_icon {
    
    opacity: 1;
    transform: scale(1);
    -webkit-transform:scale(1);
}

*/
 /* .menu-item .av_font_icon {
    color: green !important;
  padding:0px 20px;
}*/

.menu-item .av_font_icon:hover{
    color: #fff !important;
}

.menu-item .av_font_icon:active{
    color: #fff !important;
}
#top .post-entry-12342 .avia_ajax_form .form_element_half{
	margin-right:3px;
}
#top .post-entry-12342 .avia_ajax_form p{
	clear:none;
}

.page-id-29 .avia-image-container .avia-image-container-inner img{
	margin:0px auto;
}
	
.avia-image-container-inner{
	clear:both;
}
.wpcf7-response-output{
	bottom: 0;
	left: 0;
	margin: 0px  !important;
	position: fixed !important;
	width: 100%;
	z-index: 9000;
	background-color: #99cfea;
	color: #ffffff;
	background-position: 10px center;
	background-repeat: no-repeat;
	border-radius: 2px;
	overflow: hidden;
	padding: 32px 45% 32px 36px !important;
	position: relative;
}
.coupon .button{
	background-color:#29ABDF!important;
	border-bottom:none !important;
	border-radius:2px;
}
.coupon label{
	display:inline; 
	float:left;
	vertical-align:middle;
	margin-top:10px;
	padding-right:30px;
}
#top input[type="text"] {
	background-color:transparent !important;
	box-shadow:none !important;
}
.woocommerce-billing-fields p, .woocommerce-shipping-fields p{
	width:32.33% !important;
}
#customer_details {
    padding-bottom: 0px;
}
.woocommerce-checkout-review-order table.shop_table {
    width: 50%;
		float:left;
}
.woocommerce-checkout-review-order-table th:nth-child(2),
.woocommerce-checkout-review-order-table td:nth-child(2) {
    text-align: right;
}
#payment .place-order .terms{
	float:left;
}
#top #payment #place_order{
	float:right;
}
.woocommerce-checkout-review-order #payment{
	float: right;
    width: 45% !important;
	 margin: -120px 6px 2% !important; }
@media only screen and (max-width:500px) {
         #customer_details .form-row.form-row-last {
    margin-left: 0px !important;
	}
	.woocommerce-billing-fields p, .woocommerce-shipping-fields p{
	width:100% !important;
	}
	.woocommerce-checkout-review-order #payment{
		width:100% !important;
	margin:0px !important; 
	}
	.woocommerce-checkout-review-order table.shop_table {
    width: 100%;
		float:left;
}
.terms #terms{
	  /*margin: -16px 0 0 !important;*/
}
#top #payment .terms {
    text-align: left !important;
}
.terms label{
	text-align:left !important;
	/*margin-left:25px;*/
}
#ship-to-different-address .input-checkbox + label {
	width: auto !important;
}
}
@media only screen and (min-width:501px) and (max-width:768px) { 
	
	.woocommerce-billing-fields p, .woocommerce-shipping-fields p{
	width:31.33% !important;
}
	.woocommerce-checkout-review-order #payment{
		width:45% !important;
	margin-top:auto; 
	}
	.terms #terms{
	 /* margin: -16px 0 0 !important;*/
}

}
#ship-to-different-address #ship-to-different-address-checkbox{
  position: absolute;
  left: -9999px;
}
/*style the label like a button */
#ship-to-different-address .input-checkbox + label {
  background: #bdbec0 none repeat scroll 0 0;
    border: 1px solid #bdbec0;
    border-radius: 4px;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    padding: 2px 10px;
    display:inline-block;
}
/* style the label/button active state*/
/* (only applied when the checkbox is 'checked' */
#ship-to-different-address .input-checkbox:checked + label, #ship-to-different-address .checkbox:hover {
  background: #0088cc;
  color: #ffffff;
  border: 1px solid #0066aa;
}
ul.woocommerce-error {
    background-color: #E7E8E9;
    background-repeat: no-repeat;
    border: medium none;
    color: #05AFEE;
/*     list-style: outside none none; */
    margin: 0 0 0;
    padding: 30px 0 30px 30px;
		border-radius:25px;
		font-size:15px;
}
.back-image{
	background: rgba(0, 0, 0, 0) url("../images/cone1.png") no-repeat scroll right bottom;
  height: 30px;
    margin-right: 30px;
    width: 100%;
}
ul.woocommerce-error a{
color:#8D8F92;
}
.offset-right{
	margin-right:25%;
}
.edit-act-form{
	margin-top:50px;
}
.woocommerce-checkout .checkout ul.woocommerce-error{
margin: 0 25% ;
    width: 50% ;
}
.woocommerce-checkout .checkout .back-image{
	margin-right: 30%;
}
@media only screen and (max-width: 360px) {
	.woocommerce-checkout .checkout ul.woocommerce-error{
	 margin: auto;
    width: auto;
	}
}
.back-image:nth-of-type(1) ~ .back-image{ 
	display:none;
}
.loading span{
	margin-left:5px;	
}
.loading{margin-top:-15px;}
#billing_state_field , #shipping_state_field{display:none !important;}
.c-login a {color:#0270a3;
	text-decoration:underline;
}
.cart-discount .dash {font-size:30px;
	 margin-right: 3px;
    vertical-align: top;
}
