/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_light/stylesheet.css');

/* General Custom CSS */
.clsTitleCon{background-color:#000000; height:110px; }
.clsTitleCon img{margin-top:15px; }
.row{padding:0 15px; }
.clsTitleCon .col-lg-6{padding:0; }
.clsTitle{margin-top:10px; font-size:15px; color:#ffffff; padding-right:15px; }
h1.clsTopTitle{font-size:18px; color:#6B6869; margin-bottom:30px; }
.clsRelTitle{padding:0; color:#368CCA; font-size:12px; font-weight:bold; }
.clsSinProd .col-lg-3{padding-right:0; }
.clsSinProd .upsells{margin-top:25px; }
.clsContent{padding-left:0; padding-right:50px; }
h2.clsBotTitle{color:#6B6869; font-size:22px; margin-top:30px; padding-bottom:10px; border-bottom:2px solid #6B6869; }
/*Please do not change the following line */
.content, .sidebar{padding-bottom: 50px;  padding-top: 50px; }
.clsContent .clsCenTitle{font-size:18px; color:#6B6869; font-weight:bold; margin-bottom:30px; }
.clsContent ul{margin-left:0; }
.clsContent li.variation{text-transform:capitalize; color:#6B6869; font-size:14px; font-weight:bold; cursor:pointer; }
.clsContent .variation.active{color:#368CCA; }
.clsContent #v-image{height:200px; }
.clsContent .clsModel{border-radius:2px; border:1px solid #6B6869; text-align:center; box-shadow:0px 0px 2px rgba(0, 0, 0, 0.3); }
.container .clsSidebar{margin-top:15px; border:2px solid #6B6869; padding:0; }
.clsSidebar h3{color:#6B6869; font-size: 18px; padding:14px; border-bottom:2px solid #6B6869; }
.clsDetails{margin:10px 15px; font-size:16px; color:#6B6869; font-weight:bold; }
.clsDetails img{height:200px; }
.clsDetails .amount{color:#6B6869; }
#top .clsDetails form{margin-bottom:0; }
.clsDetails button.single_add_to_cart_button{background-color:#00A14F; border-color:#00A14F; transition:all 0.3s ease-out 0s; }
.clsDetails button.single_add_to_cart_button:hover{background-color:#368cca; border-color:#368cca; transition:all 0.3s ease-out 0s; }
.clsSidebar .clsBotDetails{padding: 10px 15px; border-bottom:2px solid #6B6869; font-size:16px; margin:0; }
/*.clsSidebar:last-child{border-bottom:0 none; } */
.clsSidebar .clsBotTitle{font-weight:bold; padding:25px 15px; }
.clsSidebar .clsBotDetails a{color:#368cca; font-weight:bold; text:decoration:none; }
.clsSidebar .widget{padding:10px 15px; font-size:15px; }
.clsSidebar .thumbnails{display:none; }
.clsContent .clsSpec{border-top:2px solid #6b6869; margin:10px 0; padding:30px 0 0; }
.clsContent .clsSpec img{display:block; }
.clsContent .clsSpec p{font-size:16px; font-weight:bold; }
.clsContent .clsDesc{font-size:14px; font-family:'open_sanslight'; }
.clsExc{margin:30px 0 40px; }
.clsContent .clsVariation{border-bottom:2px solid #6B6869; margin:10px 0 15px; }
.clsContent .clsModelSel{color:#6B6869; font-size:22px; margin-bottom:30px; }
.products .thumbnail_container{height:250px; display:table; }
.products .thumbnail_container img{display:table-cell; vertical-align:middle; }
#top div .quantity input.qty, .quantity input.qty{border:1px solid #e1e1e1; margin:0 10px; }
table div.quantity{width:150px; }
.woocommerce-page .button{margin-top:15px; }
/*.entry-content{margin-top:60px; margin-bottom:30px; }*/

/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}