/* Have fun adding your style here :) - PS: At all times this file should contain a comment or a rule, otherwise opera might act buggy :( */

@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_light/stylesheet.css');
@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_bold/stylesheet.css');
@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_semibold/stylesheet.css');
@import url('fonts/open-sans-fontfacekit/web-fonts/opensans_regular/stylesheet.css');

/* General Custom CSS */
.clsTitleCon{background-color:#000000; height:110px; }
.clsTitleCon img{margin-top:15px; }
.row{padding:0 15px; }
.clsTitleCon .col-lg-6{padding:0; }
.clsTitle{margin-top:10px; font-size:15px; color:#ffffff; padding-right:15px; }
.clsTopList{margin-left:0; }
.clsTopList li{display:inline-block; width:200px; border-radius:2px; border:1px solid #E5E6E7; padding:10px; box-shadow:1px 0 4px #eff0f1; }
.clsTopList li a{}
.clsTopList li a:hover{text-decoration:none; }
.clsTopList li img{disply:inline-block; width:80px; }
.clsRelTitle{padding:0; color:#368CCA; font-size:12px; font-weight:bold; display:inline-block; width:80px; margin-left:10px; vertical-align:top; margin-top:25px; }
.clsSinProd .col-lg-3{padding-right:0; }
.clsSinProd .upsells{margin-top:25px; }
.clsContent{padding-left:0; padding-right:50px; }
h1.clsBotTitle{color:#292325; font-size:28px; margin-top:30px; padding-bottom:10px; border-bottom:1px solid #AAAAAA; font-family:'open_sansregular'; font-weight:normal; letter-spacing:-1px; }
h2.clsFinish{color:#292325; font-size:22px; font-family:'open_sansregular'; font-weight:normal; margin:20px 0 10px; }
/*Please do not change the following line */
.content, .sidebar{padding-bottom: 50px;  padding-top: 50px; }
.clsContent .clsCenTitle{font-size:18px; color:#6B6869; font-weight:bold; margin-bottom:30px; }
.clsContent ul{margin-left:0; margin-top:25px;  }
.clsContent li.variation{text-transform:capitalize; color:#292325; font-size:16px; cursor:pointer; font-family:'open_sanslight'; }
.clsContent .active.clsModel{border-color:#368CCA; }
#top .main_color .variation .price, #top .variation .price span{font-size:18px; color:#292325; font-family:'open_sansregular'; font-weight:normal; line-height:normal; }
#top .main_color .variation .price{margin:10px auto; display:inline-block; }
.clsContent #v-image{height:200px; }
.clsContent .clsModel{border-radius:10px; border:1px solid #AAAAAA; text-align:center; padding:15px; }
.clsModelName{border: 2px solid #777777 !important; border-radius: 7px; display: inline-block; padding: 4px 15px; text-transform:uppercase; font-size:18px; color:#292325; font-family:'open_sansregular'; }
.clsContent .active.clsModel .clsModelName{border-color:#368CCA !important; }
.clsSidebar h3{padding:14px; border-bottom:1px solid #AAAAAA; color:#292325; font-size:22px; font-family:'open_sanslight'; font-weight:normal;}
.clsDetails, #top .clsDetails .price span.amount{color:#292325; font-size:18px; font-family:'open_sanslight'; font-weight:normal; line-height:normal; }
.clsDetails{margin:10px 15px; }
.clsDetails img{height:200px; }
#top .clsDetails form{margin-bottom:0; }
.clsDetails button.single_add_to_cart_button{background-color:#00A14F; border-color:#00A14F; transition:all 0.3s ease-out 0s; border-radius:5px; font-family:'open_sanssemibold'; }
.clsDetails button.single_add_to_cart_button:hover{background-color:#368cca; border-color:#368cca; transition:all 0.3s ease-out 0s; }
.clsSidebar{border-radius: 2px; box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); margin-top:15px; border:1px solid #e5e6e7; padding:1px; }
.clsSidebar .clsBotDetails{padding: 10px 15px; border-bottom:1px solid #AAAAAA; color:#292325; font-size:18px; font-family:'open_sanslight'; margin:0; }
/*.clsSidebar:last-child{border-bottom:0 none; } */
.clsSidebar .clsBotTitle{padding:25px 15px; line-height:normal; }
.clsSidebar .clsBotDetails a{color:#368cca; text-decoration:none; }
.clsSidebar .widget{padding:10px 15px; color:#292325; font-size:18px; font-family:'open_sanslight'; line-height:normal; }
.clsSidebar .thumbnails{display:none; }
/*.clsContent .clsSpec{border-top:1px solid #AAAAAA; margin:10px 0; padding:30px 0 0; }
.clsContent .clsSpec .clsMetaImg img{display:block; width:64px; }
.clsContent .clsSpec p{font-size:20px; font-family:'open_sansregular'; color:#292325; }
.clsContent .clsDesc{font-size:14px; font-family:'open_sanslight'; color:#292325; font-size:16px; } */
.clsExc{margin:30px 0 40px; color:#292325; font-family:'open_sanslight'; font-size:14px; }
.clsVariation .variation.active{color:#368CCA; }
.clsModelDesc{color:#292325; font-size:18px; font-family:'open_sanslight'; }
.clsContent .clsVariation{border-bottom:1px solid #AAAAAA; margin:10px 0 15px; }
.clsContent .clsModelSel{color:#292325; font-size:22px; font-family:'open_sanslight'; font-weight:normal; margin:20px 0 30px; }
.products .thumbnail_container{height:250px; display:table; }
.products .thumbnail_container img{display:table-cell; vertical-align:middle; }
#top div .quantity input.qty, .quantity input.qty{border:1px solid #e1e1e1; margin:0 10px; }
table div.quantity{width:150px; }
.woocommerce-page .button{margin-top:15px; }
#top .avia-post-nav {background: none rgba(0, 0, 0, 0.1) !important; }
.clsContent .avia-image-container{width:64px; display:inline-block; margin-right:25px; }
.clsContent .av-special-heading{margin-top:0; }
.clsContent .av-special-heading-tag{font-size:20px; font-family:'open_sansregular'; color:#292325;}
.clsContent .flex_column p{font-size:14px; font-family:'open_sanslight'; color:#292325; font-size:16px; margin-top:0; }
#top .av_font_icon a{padding-top:0; }
.main_color div{border:medium none; }
.main_color tr.clsBlank{background:#ffffff; }
.main_color tr.clsBlank td{border-left: 1px solid #fff; border-right: 1px solid #fff; border-top: 1px solid #fff; }
.cart-collaterals .cart_totals{width:100%; }
.custom_table.shop_table td, .custom_table.shop_table th{background-color:#ffffff; }
.clsCartTotals td.clsCartTotTD{padding-right:0; padding-left:0; border-right:0px solid #ffffff; border-left:0px solid #ffffff; }
.custom_table.shop_table .clsMainTable th{border-width:3px 3px 0px; border-color: #231f20; border-style: solid; color:#231F20; }
.custom_table.shop_table .clsMainTable tr{border-color: #231f20; border-style: solid; border-width: 2px 3px 3px; }
.custom_table.shop_table tr.cart_item{border:3px solid #E6E7E8; }
.custom_table.shop_table tr.cart_item td{border:3px solid #E6E7E8; }
.clsActions{border:3px solid #E6E7E8; }
.custom_table.shop_table .actions .coupon .input-text{border:3px solid #e1e1e1 !important; border-radius:7px !important; }
#top table.custom_table.shop_table .actions .button{border:3px solid #231F20; padding:13px 0; border-radius:7px; background:transparent; color:#231F20; }
#top table.custom_table.shop_table .actions .button:hover{background:#231f20; color:#ffffff; }
#top .main_color table.custom_table.shop_table .quantity input.plus, #top .main_color table.custom_table.shop_table .quantity input.minus{border:3px solid #231F20; background:#ffffff; width:30px; height:30px; line-height:24px; border-radius:50%; color:#231F20; }
#top table.custom_table.shop_table .quantity input.qty{border:3px solid #231F20; border-radius:4px; color:#231F20; }
.clsTopImg{margin:40px 0; }
.clsTopImg img{display:block; margin-top:5px; }
.clsTopImg span{display: inline-block; margin-right: 83px; width: 65px; color:#231F20; }
.product-remove .remove{border:1px solid #ED1D24; }
#top .main_color .custom_table.shop_table .product-remove a.remove, #top .main_color .custom_table.shop_table .product-remove a.remove:hover{color:#ED1D24; background-color:#ED1D24; }
.custom_table.shop_table .product-name a, .custom_table.shop_table .product-price .amount, .custom_table.shop_table .product-subtotal .amount{color:#231F20; }
.form-row-quarter{width:24%; float:left; }
.form-row-half{width:49%; float:left; }
#top .form-row.form-row-quarter, #top .form-row.form-row-half{margin-right:1%; }
#top .form-row.form-row-quarter.form-row-quarter-last, #top .form-row.form-row-half.form-row-half-last{margin-right:0; }
div .av_two_third{margin-left:2%; }
body .column-top-margin{margin-top:10px; }
#top .checkout .input-text, #top .checkout .chosen-single{border:2px solid #929497 !important; background:#ffffff !important; border-radius:5px; }
#top #payment{border-width:2px; width:50%; }
#place_order.button{background-color:transparent; border:3px solid #231F20; color:#231F20; border-radius:4px; }
#place_order.button:hover{background-color:#231F20; color:#ffffff;}
#top #main ul.order_details{border-width:3px; border-color:#939598; border-radius:8px; }
.hr-short .hr-inner{width:100%; }
.clshide, .variation{display:none; }
.custom_table.shop_table table td, .custom_table.shop_table table th{background-color:inherit; }
.custom_table.shop_table.cart{border:3px solid #ffffff; }
/*tr th:first-child, tr td:first-child{border-width:0px !important; border-color:#ffffff; }*/
/*
Desktop Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the desktop view of your site */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

}



/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

}